<p>
  <strong>Relacion:</strong>
  <%= @familiar.relacion %>
</p>

<p>
  <strong>Cuil:</strong>
  <%= @familiar.cuil %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @familiar.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @familiar.apellido %>
</p>

<p>
  <strong>Fecha nac:</strong>
  <%= @familiar.fecha_nac %>
</p>

<p>
  <strong>Lugar nac:</strong>
  <%= @familiar.lugar_nac %>
</p>

<p>
  <strong>Agrente:</strong>
  <%= @familiar.agrente %>
</p>

<%= link_to 'Edit', edit_agente_familiar_path(@familiar.agente, @familiar) %> |
<%= link_to 'Back', agente_familiars_path(@familiar.agente) %>
