<h1>Listado de Agentes</h1>

<table class='table'>
  <thead>
    <tr>
      
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Cuit/Cuil</th>      
      <th>Legajo</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agrentes.each do |agrente| %>
      <tr>
        <td><%= agrente.apellido %></td>
        <td><%= agrente.nombre %></td>
        <td><%= agrente.cuil %></td>
        <td><%= agrente.num_legajo %></td>
        
        <td><%= link_to 'Ver', agrente %></td>
        <td><%= link_to 'Editar', edit_agrente_path(agrente) %></td>
        <td><%= link_to 'Eliminar', agrente, method: :delete, data: { confirm: 'Estás segura nena?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="/" role="button" class="btn btn-lg btn-default">Inicio</a>

