<%= form_for(@agente, html: { multipart: true } ) do |f| %>
  <% if @agente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agente.errors.count, "error") %> prohibited this agente from being saved:</h2>

      <ul>
      <% @agente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">

  <div class="row">
    <div class="panel panel-default">
      <div class="form-group">
        <div class="col-md-3">
          <div class="field">
            <%= f.label "CUIL" %><br>
            <%= f.text_field :cuil %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field">
            <%= f.label :nombre %><br>
            <%= f.text_field :nombre %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field">
            <%= f.label :apellido %><br>
            <%= f.text_field :apellido %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field">
            <%= f.label "Número de Legajo" %><br>
            <%= f.text_field :num_legajo %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="panel panel-default">
    <div class="form-group">
      <div class="col-md-3">
        <div class="field">
          <%= f.label "Tipo de Documento" %><br>
          <%= f.collection_select("tipo_documento_id", @tipo_documentos, "id", "tipo", :include_blank => "Seleccione un documento...") %><br>
        </div>
      </div>
      <div class="col-md-3">
        <div class="field">
          <%= f.label "Número de Documento" %><br>
          <%= f.text_field :numero_doc %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="field">    
          <%= f.label "Fecha de Nacimiento" %><br />
          <%= f.text_field :fecha_nac , { :value => DateTime.now.strftime("%d/%m/%Y")} %> 
        </div>
      </div>

    </div>
  </div>
</div>    

<div class="row">
  <div class="panel panel-default">
    <div class="form-group">
      <div class="col-md-3">
        <div class="field">
          <%= f.label "Lugar de Nacimiento" %><br>
          <%= f.text_field :lugar_nac %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="field">
          <%= f.label :nacionalidad %><br>
          <%= f.text_field :nacionalidad %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="field">
          <%= f.label :estado_civil %><br>
          <%= f.text_field :estado_civil %>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="field">
    <%= f.label :es_discapacitado, 'Es discapacitado' %><br>
    <%= label_tag 'Si/No' %>
    <%= f.check_box :es_discapacitado %>
  </div> 
  <div class="field">
    <%= f.label :expira_certificado %><br>
    <%= f.text_field :expira_certificado%>
  </div>

  <div class="field">
    <%= f.label :foto %><br>
    <%= f.file_field :foto %>
  </div>

  <h1>Datos de Contacto</h1>

  <div class="field">
    <%= f.label :telefono_casa %><br>
    <%= f.text_field :telefono_casa %>
  </div>
    <div class="field">
    <%= f.label :telefono_celu %><br>
    <%= f.text_field :telefono_celu %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :email2 %><br>
    <%= f.text_field :email2 %>
  </div>

    <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :Provincia %><br>
    <%= f.collection_select("provincia_id", @provincias, "id", "detalle", :include_blank => "Seleccione una provincia...", :selected => f.object.provincia_id ) %><br>
  </div>
  
    <div class="field">
    <%= f.label :localidad, "Localidad *" %><br>
    <%= f.grouped_collection_select("localidad_id", @provincias, "localidades", "detalle", "id", "detalle", :include_blank => "Seleccione una localidad...", :selected => f.object.localidad_id ) %>
    </div><br>


  <div class="field">
    <%= f.label :cod_postal %><br>
    <%= f.text_field :cod_postal %>
  </div>

</div><!-- container-->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



