<%= form_for(@agente) do |f| %>
  <% if @agente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agente.errors.count, "error") %> prohibited this agente from being saved:</h2>

      <ul>
      <% @agente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cuil %><br>
    <%= f.text_field :cuil %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
    <div class="field">
    <%= f.label :num_legajo %><br>
    <%= f.text_field :num_legajo %>
  </div>
  <div class="field">
    <%= f.label :TipoDocumento %><br>
    <%= f.collection_select("tipo_documento_id", @tipo_documentos, "id", "tipo", :include_blank => "Seleccione un documento...") %><br>
  </div>
  <div class="field">
    <%= f.label :numero_doc %><br>
    <%= f.text_field :numero_doc %>
  </div>
  <div class="field">
    <%= f.label :fecha_nac %><br>
    <%= f.datetime_select :fecha_nac %>
  </div>
  <div class="field">
    <%= f.label :lugar_nac %><br>
    <%= f.text_field :lugar_nac %>
  </div>
  <div class="field">
    <%= f.label :nacionalidad %><br>
    <%= f.text_field :nacionalidad %>
  </div>
  <div class="field">
    <%= f.label :estado_civil %><br>
    <%= f.text_field :estado_civil %>
  </div>
  <div class="field">
    <%= f.label :es_discapacitado %><br>
    <%= f.text_field :es_discapacitado %>
  </div>
  <div class="field">
    <%= f.label :expira_certificado %><br>
    <%= f.datetime_select :expira_certificado %>
  </div>
  <h1>Datos de Contacto</h1>

  <div class="field">
    <%= f.label :telefono_casa %><br>
    <%= f.text_field :telefono_casa %>
  </div>
    <div class="field">
    <%= f.label :telefono_celu %><br>
    <%= f.text_field :telefono_celu %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :Provincia %><br>
    <%= f.collection_select("provincia_id", @provincias, "id", "detalle", :include_blank => "Seleccione una provincia...") %><br>
  </div>
  
    <div class="field">
    <%= f.label :localidad, "Localidad *" %><br>
    <%= f.grouped_collection_select("localidad_id", @provincias, "localidades", "detalle", "id", "detalle", :include_blank => "Seleccione una localidad...") %>
    </div><br>


  <div class="field">
    <%= f.label :cod_postal %><br>
    <%= f.text_field :cod_postal %>
  </div>
    <div class="field">
    <%= f.label :otro %><br>
    <%= f.text_field :otro %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
