<h1>Listado de Agentes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Legajo</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agentes.each do |agente| %>
      <tr>
        <td><%= agente.legajo %></td>
        <td><%= agente.nombre %></td>
        <td><%= agente.apellido %></td>
        <td><%= link_to 'Ver', agente %></td>
        <td><%= link_to 'Editar', edit_agente_path(agente) %></td>
        <td><%= link_to 'Borrar', agente, method: :delete, data: { confirm: 'Seguro que desea borrar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Agente', new_agente_path %>
