<p id="notice"><%= notice %></p>

<p>
  <strong>Cuil:</strong>
  <%= @agente.cuil %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @agente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @agente.apellido %>
</p>

<p>
  <strong>Tipodocumento:</strong>
  <%= @agente.tipo_documento.tipo %>
</p>

<p>
  <strong>Numero doc:</strong>
  <%= @agente.numero_doc %>
</p>

<p>
  <strong>Legajo:</strong>
  <%= @agente.num_legajo %>
</p>

<p>
  <strong>Fecha nac:</strong>
  <%= @agente.fecha_nac %>
</p>

<p>
  <strong>Lugar nac:</strong>
  <%= @agente.lugar_nac %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @agente.nacionalidad %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @agente.estado_civil %>
</p>

<p>
  <strong>Es discapacitado:</strong>
  <%= @agente.es_discapacitado %>
</p>

<p>
  <strong>Expira certificado:</strong>
  <%= @agente.expira_certificado %>
</p>

<h1>Datos de Contacto</h1>
<p>
  <strong>Teléfono Casa:</strong>
  <%= @agente.telefono_casa %>
</p>
<p>
  <strong>Teléfono Celular:</strong>
  <%= @agente.telefono_celu %>
</p>
<p>
  <strong>Email:</strong>
  <%= @agente.email %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @agente.direccion %>
</p>
<p>
<p>
  <strong>Provincia:</strong>
  <%= @agente.provincia.detalle %>
</p>
<strong>Ciudad:</strong>
  <%= @agente.localidad.detalle %>
</p>
<p>
  <strong>Código Postal:</strong>
  <%= @agente.cod_postal %>
</p>
<p>
  <strong>Otro:</strong>
  <%= @agente.otro %>
</p>

<% if @agente.dato_laboral.nil? %>
  <%= link_to 'Editar datos Laborales', new_agente_dato_laboral_path(@agente) %></br>
<% else %>
  <%= link_to 'Editar datos Laborales', edit_agente_dato_laboral_path(@agente, @agente.dato_laboral) %></br>
<% end %>
<%= link_to 'Hijos', agente_hijos_path(@agente) %></br>
<%= link_to 'Otros Familiares a Cargo', agente_familiars_path(@agente) %></br>
<%= link_to 'Editar', edit_agente_path(@agente) %> |
<%= link_to 'Volver', agentes_path %>
