<div class="row">
  <div class="col-xs-4">
    <div class="col-md-8 col-md-8">
    <div class="thumbnail">
      <%= image_tag @agente.foto.url(:medium) %>
    </div>
    </div>
  </div>
  <div class="col-xs-6">
    <h1> <%= @agente.nombre + " " + @agente.apellido + " - " + @agente.cuil%> </h1>
    <h2> <%= "Número de legajo:  " + @agente.num_legajo.to_s%> </h2>
  </div>
</div>
<div class="row">
   <div class="col-xs-4">
    <p>
      <strong>D.N.I:</strong>
      <%= @agente.numero_doc %>
    </p>

    <p>
      <strong>Fecha de nacimiento:</strong>
      <%= obtener_fecha(@agente.fecha_nac) %>
    </p>

    <p>
      <strong>Dirección:</strong>
      <%= @agente.direccion %>
    </p>

    <p>
      <strong>Tel:</strong>
      <%= @agente.telefono_casa %>
    </p>

    <p>
      <strong>Celular:</strong>
      <%= @agente.telefono_celu %>
    </p>

    <p>
      <strong>Ulitmo nivel de estudio:</strong>
      <%= DatoLaboral::NIVELES.key(@agente.dato_laboral.ultimo_nivel_estudio.to_i) unless @agente.dato_laboral.nil? %>
    </p>

    <p>
      <strong>Mail:</strong>
      <%= @agente.email %>
    </p>
       <p>
      <strong>Fecha de ingreso al TNC:</strong>
      <%= obtener_fecha(@agente.dato_laboral.situacion_revistas.first.fecha_alta) %>
    </p>
        <p>
      <strong>Interno:</strong>
      <%= @agente.dato_laboral.interno unless @agente.dato_laboral.nil? %>
    </p>
  </div>
  <div class="col-xs-4">
    <p>
      <strong>Apto Físico:</strong>
      <%= obtener_fecha(@agente.dato_laboral.fecha_apto_fisico) %>
    </p>

    <p>
      <strong>Fecha antecedentes penales:</strong>
      <%= obtener_fecha(@agente.dato_laboral.fecha_antecedentes_penales) %>
    </p>

   <p>
      <strong>Fecha Exámen Periódico:</strong>
      <%= obtener_fecha(@agente.dato_laboral.fecha_examen_periodico) %>
    </p>

    <p>
      <strong>Situación de revista actual:</strong>
      <%= @agente.dato_laboral.situacion_revistas.last.tipo_contratacion.descripcion unless @agente.dato_laboral.situacion_revistas.last.tipo_contratacion.descripcion.nil?%>
    </p>

    <p>
      <strong>Area:</strong>
      <%= @agente.dato_laboral.area  unless @agente.dato_laboral.nil?%>
    </p>

        <p>
      <strong>Reporta a:</strong>
      <%= @agente.dato_laboral.jefe_directo  unless @agente.dato_laboral.nil?%>
    </p>

    <p>
      <strong>Depende de:</strong>
      <%= @agente.dato_laboral.depende_direccion  unless @agente.dato_laboral.nil?%>
    </p>
    <p>
      <strong>Función:</strong>
      <%= @agente.dato_laboral.funcion unless @agente.dato_laboral.nil?%>
    </p>
    <p>
      <strong>Nivel y grado:</strong>
      <%= @agente.dato_laboral.nivel + "-" + @agente.dato_laboral.grado  unless @agente.dato_laboral.nil?%>
    </p>
  </div>
</div>
<a href="/agentes" role="button" class="btn btn-info">Volver</a>
<a href="/" role="button" class="btn btn-success">Inicio</a>