<%= form_for(@situacion_revista) do |f| %>
  <% if @situacion_revista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@situacion_revista.errors.count, "error") %> prohibited this situacion_revista from being saved:</h2>

      <ul>
      <% @situacion_revista.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
