<%= form_for([@agente, @dato_laboral]) do |f| %>
  <% if @dato_laboral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dato_laboral.errors.count, "error") %> prohibited this dato_laboral from being saved:</h2>

      <ul>
      <% @dato_laboral.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hide">
    <%= f.label :agente_id %><br>
    <%= f.text_field :agente_id %>
  </div> 


  <div class="row">
    <div class="col-xs-4">
      <div class="field">
        <%= f.label :fecha_ingreso %><br>    
        <%= f.text_field :fecha_ingreso, value: f.object.fecha_ingreso.try(:strftime, "%d/%m/%Y")  %>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="field">
      <%= f.label :acto_administrativo %><br>
      <%= f.collection_select("acto_administrativo_id", ActoAdministrativo.all, "id", "descripcion", :include_blank => "Seleccione un acto...") %><br>
      </div>
    </div>

    <div class="col-xs-4"> 
      <div class="field">
        <%= f.label :fecha_acto %><br>
        <%= f.text_field :fecha_acto, value: f.object.fecha_acto.try(:strftime, "%d/%m/%Y")  %> 
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label "Período de contratación" %><br>   
    <div class="row">
      <%= f.fields_for :periodo_de_contratacion do |periodo| %>
          <div class="col-xs-4">
            <%= periodo.label :fecha_desde, "desde" %><br>    
            <%= periodo.text_field :fecha_desde , value: periodo.object.fecha_desde.try(:strftime, "%d/%m/%Y")  %>  
          </div>      
          <div class="col-xs-4">
            <%= periodo.label :fecha_hasta , "hasta"  %><br>       
            <%= periodo.text_field :fecha_hasta , value: periodo.object.fecha_hasta.try(:strftime, "%d/%m/%Y")  %> 
          </div>
      <% end %>
    </div>
  </div>

    <div class="field">
      <%= f.label :fecha_apto_fisico %>
    </div>
   <div class="row">
      <div class="col-xs-2">
        <%= check_box_tag 'sino_fecha_apto_fisico'%>
      </div>
      <div class="col-xs-2">
        <%= f.text_field :fecha_apto_fisico, value: f.object.fecha_apto_fisico.try(:strftime, "%d/%m/%Y") %>    
      </div>
   </div>

  <div class="field">
    <%= f.label :presento_titulo %><br>
    <%= f.check_box :presento_titulo %>
  </div> 

  <div class="field">
    <%= f.label :ultimo_nivel_estudio %><br>
    <%= f.text_field :ultimo_nivel_estudio %>
  </div>

  <div class="field">
    <%= f.label :agrupamiento %><br>
    <%= f.collection_select("agrupamiento_id", Agrupamiento.all, "id", "descripcion", :include_blank => "Seleccione un agrupamiento...") %><br>
  </div>  
  <div class="field">
    <%= f.label :nivel %><br>
    <%= f.select :nivel, (("A".."D").map {|i| [i,i] }), { :include_blank => "Seleccione un nivel", :selected => f.object.nivel } %>
  </div>
  <div class="field">
    <%= f.label :grado %><br>
    <%= f.select :grado, (("0".."10").map {|i| [i,i] }), { :include_blank => "Seleccione un grado", :selected => f.object.grado }  %>
  </div>

  <div class="field">
      <%= f.label :tramo%><br /> 
      <%= f.collection_select :tramo_id, Tramo.all, :id, :descripcion, { :include_blank => "Seleccione el tramo" } %>
  </div>
  <div class="field">
    <%= f.label "Cantidad de personas a cargo" %><br>    
    <%= f.select :cant_personas_acargo, ((0..20).map {|i| [i,i] }), { :include_blank => "Seleccione una cantidad", :selected => f.object.cant_personas_acargo } %>
  </div>
  <div class="field">
      <%= f.label :sede%><br /> 
      <%= f.collection_select :sede_id, Sede.all, :id, :descripcion, {:include_blank => "Seleccione un nivel"} %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :interno %><br>
    <%= f.text_field :interno %>
  </div>   

  <div class="field">
    <%= f.label :area %><br>
    <%= collection_select(:area, :area_id, @areas, :id, :descripcion, :include_blank => "Seleccione un area...") %><br>
  </div>

  <div class="hide">
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label "Dirección de la que depende" %><br>
    <%= f.text_field :depende_direccion, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :jefe_directo %><br>
    <%= f.text_field :jefe_directo, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :funcion %><br>
    <%= f.text_field :funcion %>
  </div> 
  <div class="field">
    <%= f.label :sueldo_bruto %><br>
    <%= f.text_field :sueldo_bruto %>
  </div>
  <div class="field">
    <%= f.label :sueldo_neto %><br>
    <%= f.text_field :sueldo_neto %>
  </div>

  <div class="field">
    <%= f.label :fecha_curriculum %>
  </div>
 <div class="row">
    <div class="col-xs-2">
      <%= check_box_tag 'sino_fecha_curriculum'%>
    </div>
    <div class="col-xs-2">
      <%= f.text_field :fecha_curriculum, value: f.object.fecha_curriculum.try(:strftime, "%d/%m/%Y") %>    
    </div>
 </div>

  <h2>Situacion de revista</h2>
    <%= f.fields_for :situacion_revistas do |situacion| %>
    <div class="row">
       <div class="situacion_revista_fields">
        <div class="col-md-6">
          <%= situacion.label :tipo_contratacion %><br>
          <%= situacion.collection_select("tipo_contratacion_id", TipoContratacion.all, "id", "descripcion", :include_blank => "Seleccione un tipo de contratación...") %><br>
        </div>      
        <div class="col-lg-6">
          <%= situacion.label :fecha_alta %><br>       
          <%= situacion.text_field :fecha_alta , value: situacion.object.fecha_alta.try(:strftime, "%d/%m/%Y")  %>    
          <%= situacion.check_box :_destroy %>        
          <%= situacion.label :_destroy, 'eliminar' %>
        </div>
       </div>
     </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
