<h1>Datos Laborales de </h1>

<table class="table">
  <thead>
    <tr>
      <th>Num legajo</th>
      <th>Fecha ingreso</th>
      <th>Situ revista</th>
      <th>Agrupamiento</th>
      <th>Nivel</th>
      <th>Grado</th>
      <th>Tramo</th>            
      <th>Jefe directo</th>
      <th>Cant personas acargo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if !@dato_laboral.nil? %>
      <tr>
        <td><%= @dato_laboral.id %></td>
        <td><%= @dato_laboral.fecha_ingreso %></td>
        <td><%= @dato_laboral.situacion_revistas.first().tipo_contratacion.descripcion %></td>
        <td><%= @dato_laboral.agrupamiento.descripcion %></td>
        <td><%= @dato_laboral.nivel %></td>
        <td><%= @dato_laboral.grado %></td>
        <td><%= @dato_laboral.tramo.descripcion %></td>                
        <td><%= @dato_laboral.jefe_directo %></td>
        <td><%= @dato_laboral.cant_personas_acargo %></td>
        <td><%= link_to 'Ver', agente_dato_laboral_path(@dato_laboral.agente, @dato_laboral) %></td>
        <td><%= link_to 'Editar', edit_agente_dato_laboral_path(@dato_laboral.agente, @dato_laboral) %></td>
        <td><%= link_to 'Eliminar', agente_dato_laboral_path(@dato_laboral.agente, @dato_laboral), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>  
  </tbody>
</table>

<br>

<% if @dato_laboral.nil? %>
  <%= link_to 'Nuevo Dato Laboral', new_agente_dato_laboral_path %>
<% end %>  
