<p id="notice"><%= notice %></p>

<h1>
  <strong>Datos Laborales de:</strong>
  <%= @dato_laboral.agente.nombre %> &nbsp
  <%= @dato_laboral.agente.apellido %>
</h1>

<p>
  <strong>Sede:</strong>
  <%= @dato_laboral.sede.descripcion %>
</p>

<p>
  <strong>Interno:</strong>
  <%= @dato_laboral.interno %>
</p>

<p>
  <strong>Fecha ingreso:</strong>
  <%= @dato_laboral.fecha_ingreso %>
</p>

<p>
  <strong>Situ revista:</strong>
  <%= @dato_laboral.situacion_revistas.first().tipo_contratacion.descripcion %>
</p>

<p>
  <strong>Agrupamiento:</strong>
  <%= @dato_laboral.agrupamiento.descripcion %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @dato_laboral.nivel %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @dato_laboral.grado %>
</p>

<p>
  <strong>Tramo:</strong>
  <%= @dato_laboral.tramo.descripcion %>
</p>

<p>
  <strong>Depende direccion:</strong>
  <%= @dato_laboral.depende_direccion %>
</p>

<p>
  <strong>Jefe directo:</strong>
  <%= @dato_laboral.jefe_directo %>
</p>

<p>
  <strong>Sueldo bruto:</strong>
  <%= @dato_laboral.sueldo_bruto %>
</p>

<p>
  <strong>Sueldo neto:</strong>
  <%= @dato_laboral.sueldo_neto %>
</p>

<p>
  <strong>Cant personas acargo:</strong>
  <%= @dato_laboral.cant_personas_acargo %>
</p>

<%= link_to 'Editar', edit_agente_dato_laboral_path(@dato_laboral.agente, @dato_laboral) %> |
<%= link_to 'Volver', agente_dato_laborals_path %>
