<%= form_for([@agente, @hijo]) do |f| %>
  <% if @hijo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hijo.errors.count, "error") %> prohibited this hijo from being saved:</h2>

      <ul>
      <% @hijo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :agente_id %><br>
    <%= f.text_field :agente_id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :fecha_nac %><br>
    <%= f.date_select :fecha_nac %>
  </div>
  <div class="field">
    <%= f.label :tipo_doc1 %><br>
    <%= f.text_field :tipo_doc1 %>
  </div>
  <div class="field">
    <%= f.label :num_doc1 %><br>
    <%= f.text_field :num_doc1 %>
  </div>
  <div class="field">
    <%= f.label :tipo_doc2 %><br>
    <%= f.text_field :tipo_doc2 %>
  </div>
  <div class="field">
    <%= f.label :num_doc2 %><br>
    <%= f.text_field :num_doc2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
