<h1>Hijos de <%= @agente.nombre %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha nac</th>
      <th>Tipo docuemento</th>
      <th>Número documento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hijos.each do |hijo| %>
      <tr>
        <td><%= hijo.nombre %></td>
        <td><%= hijo.apellido %></td>
        <td><%= hijo.fecha_nac %></td>
        <td><%= hijo.tipo_doc1.tipo %></td>
        <td><%= hijo.num_doc1 %></td>
        <td><%= link_to 'Ver', agente_hijo_path(@agente, hijo) %></td>
        <td><%= link_to 'Editar', edit_agente_hijo_path(@agente, hijo) %></td>
        <td><%= link_to 'Eliminar', agente_hijo_path(@agente, hijo), method: :delete, data: { confirm: 'Re seguro/a?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver', agente_path(@agente) %>
<%= link_to 'Nuevo', new_agente_hijo_path(@agente) %>

